/*
* SZIA Onepage HTML Template V.1.0
* Copyright 2013
* AUTHOR: Rohithpaul // http://themeforest.net/user/rohithpaul
* DATE: 17/11/2013
*/


/* Font
================================================== */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,400italic,300,300italic,600,600italic);

/* Site Styles
================================================== */


/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f0f0f0;
    /* change if the mask should have another color then white */
    z-index: 999;
    /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url(../images/loading.gif);
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}

section .container {
    padding: 80px 0px;
}

.container .two-thirds.column {
    margin-top: 0px;
    margin-bottom: 0px;
}


/*Home Banner*/

#home_banner {
    /*Replace below file to change Landing Banner Image*/
    background-image: url(../images/home_banner.jpg);
    background-position: center;
}

#home_banner .caroufredsel_wrapper {
    height: 140px!important;
}

.landing_text {
    width: 100%;
    position: absolute;
    top: 45%;
    text-align: center;
}

.landing_text .btn_big {
    color: #131313;
    padding: 12px 20px;
    border-radius: 3px;
    display: inline-block;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
    border: solid 2px;
}

.landing_text .btn_big:hover {
    background: none;
    color: #fff;
    border-color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
}

ul.home_quotes li {
    text-align: center;
    float: left;
    width: 100%;
    margin: 30px 0px;
}

ul.home_quotes li h4 {
    text-transform: uppercase;
    font-size: 75px;
    font-weight: 100;
    color: #fff;
    display: block;
    text-shadow: 3px 3px 3px #616161;
}

#arrow_more {
    position: absolute;
    bottom: 5%;
    left: 48.2%;
}

#arrow_more a {
    display: block;
    background: url(../images/more_down.png) no-repeat center;
    width: 50px;
    height: 50px;
}


/* A propos */

#about {
    background-image: url(../images/aPropos2.jpeg);
}

#proposTitre h3,
#proposTitre h2 {
    color: white;
}

#aPropos {
    width: 90%;
    margin-left: auto;
    color: white;
}

#aPropos p {
    font-size: 150%;
    color: white;
}

#presMoi {
    line-height: 25px;
}

#aProposContact {
    text-decoration: none;
    color: white;
    padding-top: 10px;
}

.CV {
    background: cadetblue;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    float: right;
    margin: 0px;
    margin-top: 20px;
}

.CV:hover {
    background: deepskyblue;
}


/*Compétences*/

#rubriqueCompet {
    color: white;
    text-align: center;
    margin-top: 50px;
}

#tiretRubriqueCompet {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.barreDeCompet {
    height: 35px;
}

.texteCompet {
    color: white;
    font-size: 20px;
    margin-top: 6px;
    float: left;
    margin-left: 10px;
}

#infoCompet {
    margin-top: 25px;
}

#autreCompet {
    margin-top: 25px;
    margin-bottom: 40px;
}

#titreAutreCompet {
    color: white;
    text-align: center;
}


/*Expérience*/

.exprience {
    background: #fff;
}

.exprience .container {
    padding-top: 85px;
    padding-bottom: 90px;
}

.exprience h2 {
    color: #ff675f;
}

.exprience p {
    color: #84868d;
    /*font-size:13px;*/
    line-height: 18px;
}

.exprience .heading p {
    padding-bottom: 41px;
}

.exprience h4 {
    font-weight: 700;
}

.workDetails .rightArea {
    border-left: solid 1px #eaeaea;
    padding-bottom: 47px;
}

.workDetails:last-child .rightArea {
    padding-bottom: 0px;
}

.workYear {
    font-size: 17px;
    color: #fff;
    background: cadetblue;
    text-align: center;
    width: 120px;
    height: 120px;
    padding: 40px 0 40px 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.arrowpart {
    float: left;
    width: 15px;
    height: 50px;
    background: url(../images/arrow-left.png) no-repeat 0 23px;
}

.exCon {
    width: auto;
    background: #f3f3f3;
    border-bottom: solid 4px #eeeeee;
    padding: 22px 47px 6px 47px;
    margin-left: 15px;
    text-align: left;
}

.exCon p {
    color: darkslategrey;
    line-height: 21px;
}

.exCon h4 {
    color: #474d5d;
    padding-bottom: 3px;
}

.exCon h5 {
    color: darkslategray;
}


/*Diplômes*/

#titreDipl {
    color: white;
}

.bordureDesc {
    border: 1px solid black;
    margin-top: 175px;
    background-color: white;
    border: 5px solid darkgrey;
    padding: 5px;
    background: #fff;
}

.bordureDesc2 {
    border: 1px solid black;
    margin-top: 200px;
    background-color: white;
    border: 5px solid darkgrey;
    padding: 5px;
    background: #fff;
}

.ligneDescDipl {
    color: black;
}

.descImgDipl {
    color: white;
    font-size: 200%;
}

.imgDipl {
    border: 5px solid darkgrey;
    padding: 5px;
    background: #fff;
}

#imgDipl2 {
    border: 5px solid darkgrey;
    background: #fff;
}

#imgGmp {
    margin-top: 35px;
}

.imgDiplGmp {
    margin-top: 100px;
}

#imgSchoolManda {
    margin-top: 20px;
}


/*PortFolio*/

section#real {
    background-image: url(../images/realisation.jpg);
    background-color: #32526E;
}

.titreProjet {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}


/*Contact*/

.contactDetails {
    background: White;
}

.contactDetails .container {
    padding-top: 85px;
    padding-bottom: 90px;
}

.contactDetails h4 {
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-size: 150%;
    color: white;
}

.contactDetails p {
    color: white;
    font-size: 120%;
    line-height: 19px;
    padding-bottom: 14px;
}

.contactDetails p a {
    color: white;
}

.contactDetails p a:hover {
    color: #a9abb0;
    text-decoration: none;
}

.contactDetails i {
    padding-right: 15px;
    color: white;
}

.conForm input {
    background: #585f73;
    color: white;
    padding: 15px 30px;
    border: none;
    margin-right: 3%;
    margin-bottom: 30px;
    outline: none;
}

.conForm input.noMarr {
    margin-right: 0px;
}

.conForm textarea {
    background: #585f73;
    color: white;
    padding: 15px 30px;
    border: none;
    margin-bottom: 40px;
    outline: none;
    height: 100px;
}

.submitBnt {
    background: cadetblue;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    float: right;
    margin: 0px;
}

.submitBnt:hover {
    background: deepskyblue;
}

@media screen and (min-width: 768px) {
    .conForm input.col-sm-6 {
        width: 48.5%;
    }
    .conForm input.col-lg-6 {
        width: 48.5%;
    }
}

@media screen and (max-width: 400px) {
    #loopedSlider,
    #newsSlider {
        min-height: 650px;
        height: 100%;
    }
    ul.slides {
        min-height: 600px;
        height: 100%;
    }
    .item {
        width: 19%;
    }
    .item p {
        font-size: 36px;
    }
    .aboutme img {
        width: 100%;
    }
    .bntDownload {
        font-size: 13px;
        padding: 16px 14px;
    }
    .conForm textarea {
        margin-bottom: 20px;
    }
    .textGroup {
        display: block;
        padding: 0 0 40px 0;
    }
    .nameError,
    .emailError {
        left: 0px;
        top: 0px;
    }
}


/* 1. Navigation bar */

header {
    width: 100%;
    z-index: 99;
    position: absolute;
}

nav {
    width: 100%;
    background: rgb(45, 47, 52);
    background: rgba(45, 47, 52, .2);
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 9999;
    padding: 12px 0px;
    display: inline-block;
    transition: all 0.2s ease-out 0s;
}

nav ul {
    padding: 0;
    margin: 0 auto;
    display: inline-block;
}

nav li {
    display: inline;
}

nav li a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
}

nav ul.primary_nav {
    float: right;
    margin-right: 5%;
}

nav ul.primary_nav li {
    float: left;
    opacity: 0.85;
}

nav ul.primary_nav li a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    text-align: left;
    padding: 34px 20px;
    font-weight: normal;
    text-transform: uppercase;
    font-weight: 600;
}

nav ul.primary_nav li.current {
    opacity: 1;
}

nav ul.primary_nav li.current:before {
    content: '.';
    font-size: 24px;
    position: relative;
}

nav ul.primary_nav li.current:after {
    content: '.';
    font-size: 24px;
    position: relative;
}

nav a.logo_nav {
    position: absolute;
    width: 110px;
    left: 5%;
    top: 17px;
    width: 90px;
}

header {
    position: fixed;
    width: 100%;
}


/*If Sticky*/

header.stuck nav {
    padding: 0px;
    background: rgb(45, 47, 52);
    background: rgba(45, 47, 52, .80);
}

header.stuck nav a.logo_nav {
    top: 5px;
}

header.stuck nav .sub_nav {
    margin-left: 180px;
}

.sub_nav {
    float: left;
    margin: 18px 17px;
}

.sub_nav>span {
    display: block;
    font-size: 13px;
    color: #b2b2b2;
    margin-top: 25px;
}

ul.sublinks {
    float: left;
}

ul.sublinks li {
    padding: 0px 10px;
    border-left: solid 1px #b2b2b2;
    line-height: 8px;
    float: left;
}

ul.sublinks li:first-child {
    border: none;
    padding-left: 0px;
}

ul.sublinks li a {
    color: #b2b2b2;
    font-size: 11px;
    text-decoration: none;
    padding: 0px;
}


/*Services*/

section#services {
    background-image: url(../images/services_bg.jpg);
    background-color: #32526E;
}

section#services .head_line h4 {
    background-color: #32526E;
}

section#services h4 {
    color: #6c717d;
}

.service_block {
    background: rgba(30, 31, 36, .70);
    height: 223px;
    left: 0;
    margin: 70px 0px 70px 40px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition-duration: 0.45s;
    transition-timing-function: ease-out;
    width: 223px;
    border-radius: 3px;
    z-index: 1;
    text-align: center;
}

.service_block h4 {
    color: #fff;
    text-align: left;
    padding-left: 15px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    transform: rotate(-0deg);
}


/*Our Clients*/

.parallax_bg {
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    -webkit-background-attachment: fixed !important;
    background-size: cover !important;
}

#clients {
    background-image: url(../images/clients_bg.jpg);
    background-color: #f8f8f8;
}


/*Our Work*/

#work {
    background-image: url(../images/workbg.jpeg);
    background-color: #8c99a6;
}

#work .container {
    padding-bottom: 0px;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}


/*Contact*/

#contact {
    background-image: url(../images/contact_bg.jpg);
    background-color: #f8f8f8;
}

hr.ruler {
    margin: 30px 0px;
    clear: both;
    display: inline-block;
    width: 100%;
}

#to_top {
    position: absolute;
    margin-left: 49.4%;
    margin-top: 20px;
}


/* 2. Section Title */

.title {
    padding: 35px 0;
    text-align: center;
}

.title hr {
    border-color: #6C717D;
    border-image: none;
    border-style: solid;
    border-width: 2px 0 0;
    clear: both;
    height: 0;
    margin: 1.25em auto;
    width: 84px;
}

.title h2 {
    font-size: 38px;
    text-transform: uppercase;
    text-align: center;
    color: #1d1d1d;
    font-weight: normal;
}

.title h4 {
    text-align: center;
    font-style: italic;
    line-height: 30px;
    margin-bottom: 0px;
}

.title p {
    line-height: 46px;
    font-size: 36px;
    color: #1d1d1d;
    font-weight: 300;
}


/* #Media Queries
================================================== */


/*for Big Screens*/

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    #logo {
        left: 45.5%;
        top: 35%;
    }
}


/*for all Devices*/

@media only screen and (min-width: 320px) and (max-width: 1024px) {
    input[type=submit],
    textarea {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }
    .parallax_bg {
        background-attachment: scroll !important;
        -webkit-background-attachment: scroll !important;
    }
    #arrow_more a {
        background-size: 38px 38px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1048px) {
    #clients .twelve {
        margin: 0px 20px;
    }
    ul.home_quotes li h4 {
        font-size: 60px;
    }
}


/* Tablet Portrait size to standard 960 (devices and browsers) */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
        width: 740px;
    }
    .container .twelve.columns {
        width: 720px;
    }
    .container .two-thirds.column {
        width: 350px;
    }
    .container .one-third.column {
        width: 226px;
    }
    .container .two.columns {
        width: 128px;
    }
    #services .one-third.column {
        width: 720px;
    }
    nav ul.primary_nav li a {
        padding: 34px 12px;
    }
    ul.home_quotes li h4 {
        font-size: 50px;
    }
    #services .service_block {
        margin-left: auto;
        margin-right: auto;
    }
}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

@media only screen and (max-width: 767px) {
    section .container {
        padding: 30px 0px;
    }
    /*Title*/
    .title {
        padding: 10px 0px 30px;
    }
    .title h2 {
        font-size: 22px;
    }
    .title h4 {
        font-size: 15px;
        line-height: 20px;
    }
    .title hr {
        margin: .75em auto;
    }
    p {
        font-size: 13px;
        line-height: 21px;
    }
    .container {
        width: 440px;
    }
    .container .twelve.columns,
    .container .two-thirds.column,
    .container .one-third.column,
    .services .one-third.column {
        width: 440px;
    }
    .container .two.columns {
        width: 189px;
        margin: 0px 15px;
    }
    #arrow_more {
        left: 45%;
    }
    ul.home_quotes li h4 {
        font-size: 32px;
    }
    .flex-control-nav {
        bottom: 7%!important;
    }
    h2.work_title {
        font-size: 14px;
    }
    .services_col p,
    .services_col strong {
        font-size: 13px;
        line-height: 19px;
    }
    #services .service_block {
        margin-left: auto;
        margin-right: auto;
    }
    .caroufredsel_wrapper {
        height: auto!important;
    }
    .caroufredsel_wrapper ul#work_showcase {
        position: relative!important;
    }
    #work_showcase li .work_info a.plus {
        margin-top: 8px;
    }
    h2.work_title {
        font-size: 15px;
        padding: 20px 0px;
    }
    /*Responsive Menu*/
    nav {
        background: none;
        padding: 0px;
        top: -15px;
    }
    nav a.logo_nav {
        display: none;
    }
    nav ul {
        display: none;
        height: auto;
    }
    nav ul li {
        width: 100%;
    }
    nav li a {
        text-align: left;
        width: 100%;
    }
    nav .pull {
        display: block;
        width: 40px;
        text-align: right;
        color: #fff;
        background: url(../images/res_nav.png) no-repeat left center;
        height: 40px;
        margin: 15px;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    header.stuck nav {
        background: none;
        box-shadow: none;
    }
    nav .pull i {
        font-size: 21px;
        padding: 11px;
    }
    nav ul.primary_nav {
        margin: 0px;
        position: absolute;
        left: 0px;
        width: 100%;
        background: #171717;
        padding: 20px 0px;
    }
    nav ul.primary_nav li {
        width: 100%;
        margin: 0px;
        padding: 0px;
        max-width: none;
        text-align: left;
    }
    nav ul.primary_nav li a {
        padding: 12px 30px;
        font-weight: 400;
        font-size: 15px;
    }
    nav ul.primary_nav li.current a {
        content: '';
    }
    nav ul.primary_nav li.current:after,
    nav ul.primary_nav li.current:before {
        display: none;
    }
}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (max-width: 479px) {
    .container {
        width: 300px;
    }
    .container .twelve.columns,
    .container .two-thirds.column,
    .container .one-third.column,
    .services .one-third.column {
        width: 100%;
    }
    .container .two.columns {
        width: 100%;
        margin: 0px;
        text-align: center;
    }
    ul.home_quotes li h4 {
        font-size: 26px;
    }
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #e1e1e1;
}